
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png?v=Kmba7dRm5K">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png?v=Kmba7dRm5K">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png?v=Kmba7dRm5K">
    <link rel="manifest" href="/manifest.json?v=Kmba7dRm5K">
    <link rel="mask-icon" href="/safari-pinned-tab.svg?v=Kmba7dRm5K" color="#828282">
    <link rel="shortcut icon" href="/favicon.ico?v=Kmba7dRm5K">
    <meta name="apple-mobile-web-app-title" content="Pete Woods">
    <meta name="application-name" content="Pete Woods">
    <meta name="theme-color" content="#ffffff">
