
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png?v=yyx9KeAMbG">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png?v=yyx9KeAMbG">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png?v=yyx9KeAMbG">
    <link rel="manifest" href="/manifest.json?v=yyx9KeAMbG">
    <link rel="mask-icon" href="/safari-pinned-tab.svg?v=yyx9KeAMbG" color="#444444">
    <link rel="shortcut icon" href="/favicon.ico?v=yyx9KeAMbG">
    <meta name="theme-color" content="#ffffff">
